table {
    border-spacing: 0;
    width: 100%;
    margin: 200px 0;
}

th,
td {
    padding: 8px;
    text-align: center;
    border: 1px solid #0f0f0f;
}

tr:first-child {
    font-size: 20px;
    background-color: #f2f3f4;
    color: black;
}

td:nth-child(even) {
    background-color: #f2f2f2
}

caption{
    font-size: 20px;
    font-weight: 600;

}
.z{
    height: 300px;
    padding-top: 100px;
    
}
.z img{
    display: block;
    margin: auto auto;
    width: 200px;
}
.z h1{
    text-align: center;
}