@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}
.w .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.w .button:hover{
  width: 200px;
}
.w .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.w .button:nth-child(1):hover .icon{
  background: #4267B2;
}
.w .button:nth-child(2):hover .icon{
    background: #18ad45;
}
.w .button:nth-child(3):hover .icon{
    background: #ff0000;
}
.w .button:nth-child(4):hover .icon{
  background: #e3ee45;
}
.w .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.w .button:hover .icon i{
  color: #fff;
}
.w .button a{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.w .button:nth-child(1) a{
  color: #4267B2;
}
.w .button:nth-child(2) a{
  color: #18ad45;
}
.w .button:nth-child(3) a{
  color: #ff0000;
}
.w .button:nth-child(4) a{
    color: #e3ee45;
  }